<!-- <p>about-us works!</p> -->

<div class="conatiner">
    <h1>ABOUT US</h1>
    <div class="about">
        <div class="image">
            <img src="/assets/shoecolg.jpg" alt="shoe">
        </div>
        <div class="content">
            <p>
               Welcome To ShoeCraZe! Founded on the principle that footwear should be an expression of individuality, we take pride in offering a variety of designs that cater to diverse tastes. Our shoes are crafted with attention to detail, ensuring they not only look good but also stand the test of time. ShoeCraZe refers to a website which can give your dream branded shoes delivered  to you within few days. It consist of various brands including Nike, Puma, Reebok and also some traditional and Formal wear and how can we forget about your comfort , so it includes the Casual wear as well. With us g  et high quality and perfect fitting all size available for men for every taste and occasion. Browse through the comprehensive collection of ShoeCraZe . Make your life better with your dream shoes. From casual kicks to eleganate Formals, our selection is a testament to our dedication to quality and style.
            </p>
        </div>
        

    </div>
</div>