<div class="offcanvas offcanvas-end" tabindex="1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header container ">
    <h3 class="offcanvas-title" id="offcanvasRightLabel">Your Type Of Shoes!
     <br>
       
     &nbsp;
     &nbsp;
     &nbsp;
     &nbsp;
     &nbsp;
     &nbsp;
     &nbsp;
       Lets ShoeCraZe!!!!
    </h3>
    <button type="button" class="btn-close text-light" id="buttonCls" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-tags></app-tags>


  </div>
</div>