<section class="contact">
  <div class="content">
    <h2>CONTACT US!!</h2>
    <p>
     Get In Touch With US ! We Would Love To Interact With Your Issues.. We Will Try To Reachout Your Issue And Would Try To Fix It As Soon As Possilble!!! 
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Address</h3>
          <p>2541 Box Street , <br> Ottawa, Canada, <br> K0A 0A8</p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Phone</h3>
          <p>613-508-21433</p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Email</h3>
          <p>theShoecraZe@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form action="">
        <h2>
          Send Message
        </h2>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Full Name</span>

        </div>
        <div class="inputBox">
          <input type="email" name="" required="required">
          <span>Email</span>
          
        </div>
        <div class="inputBox">
          <textarea name="" id="" required="required"></textarea>
          <span>Type Your Message...</span>
          
        </div>
        <div class="inputBox ">
          <input type="submit" value="Send">
        </div>
      </form>
    </div>
  </div>

</section>