

 <div class="body">
    <div class="wrapper">
        <span class="bg-animate"></span>

        <span class="bg-animate2"></span>

         <div class="form-box register">
            <h2>Sign Up</h2>
            <form [formGroup]="signup" (ngSubmit)="submit()">
                <div class="input-box" >
                    <input type="text" name="name" formControlName="name" required>
                    <label>Username</label>
                    <i class="bi bi-person-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </i>
                </div>
                <div class="error-list" *ngIf="FormCon['password'].errors && isSubmitted">
                    <div *ngIf="FormCon['password'].errors['required']">
                        Should not be empty
                    </div>
                   
                   </div>
                <div class="input-box">
                    <input type="text" required>
                    <label>Email</label>
                    <i class="bi bi-envelope-fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                          </svg>
                    </i>
                    
                </div>
                <div class="error-list" *ngIf="FormCon['email'].errors && isSubmitted">
                    <div *ngIf="FormCon['email'].errors['required']">
                        Should Not Be Empty

                    </div>
                    <div *ngIf="FormCon['email'].errors['email']">
                        Email Not Correct
                    </div>
                    
                </div>
                <div class="input-box">
                    <input type="password" required>
                    <label>Password</label>
                    <i class="bi bi-lock-fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                        </svg>
                    </i>
                </div>
                <div class="error-list" *ngIf="FormCon['password'].errors && isSubmitted">
                    <div *ngIf="FormCon['password'].errors['required']">
                        Should not be empty
                    </div>
                   
                   </div>
                <button class="btn" type="submit">Sign Up</button>
                <div class="logreg-link">
                    <p>
                        Already have an account?
                        <a routerLink="/login" class="register-link">Login</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="info-text register">
            <h2>WELCOME!!</h2>
            <p>To The Ultimate ShoeCraZe! Shop Yourself The Best You Want!</p>
        </div> 
    </div>
</div>